#footer-wrap
  if theme.footer.owner.enable
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `&copy;${theme.footer.owner.since} - ${nowYear} By ${config.author}`
    else
      .copyright!= `&copy;${nowYear} By ${config.author}`
  if theme.footer.copyright
    .framework-info
      span= _p('footer.framework') + ' '
      a(href='https://hexo.io')= 'Hexo'
      span.footer-separator |
      span= _p('footer.theme') + ' '
      a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`

script.
  navigator.geolocation.getCurrentPosition(success, error);

  function success(position) {
    const latitude = position.coords.latitude;
    const longitude = position.coords.longitude;
    getSunriseSunset(latitude, longitude);
  }

  function error() {
    console.log('无法获取地理位置，使用默认 Light Mode');
    disableDarkMode();
  }

  function getSunriseSunset(latitude, longitude) {
    const apiUrl = `https://api.sunrise-sunset.org/json?lat=${latitude}&lng=${longitude}&formatted=0`;

    fetch(apiUrl)
      .then(response => response.json())
      .then(data => {
        const sunrise = new Date(data.results.sunrise).getTime();
        const sunset = new Date(data.results.sunset).getTime();
        const currentTime = new Date().getTime();

        if (currentTime >= sunset || currentTime <= sunrise) {
          enableDarkMode();
        } else {
          disableDarkMode();
        }
      })
      .catch(error => console.error('Error fetching sunrise/sunset times:', error));
  }

  function enableDarkMode() {
    document.documentElement.classList.add('dark');
  }

  function disableDarkMode() {
    document.documentElement.classList.remove('dark');
  }
