#footer-wrap
  if theme.footer.owner.enable
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `&copy;${theme.footer.owner.since} - ${nowYear} By ${config.author}`
    else
      .copyright!= `&copy;${nowYear} By ${config.author}`
  if theme.footer.copyright
    .framework-info
      span= _p('footer.framework') + ' '
      a(href='https://hexo.io')= 'Hexo'
      span.footer-separator |
      span= _p('footer.theme') + ' '
      a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`

script.
  navigator.geolocation.getCurrentPosition(success, error);

  function success(position) {
    const latitude = position.coords.latitude;
    const longitude = position.coords.longitude;
    getSunriseSunset(latitude, longitude);
  }

  function error() {
    console.log('无法获取地理位置，使用默认 Light Mode');
    disableDarkMode();
  }

  function getSunriseSunset(latitude, longitude) {
    const apiUrl = `https://api.sunrise-sunset.org/json?lat=${latitude}&lng=${longitude}&formatted=0`;

    fetch(apiUrl)
      .then(response => response.json())
      .then(data => {
        // 获取 UTC 时间的日出和日落，并转换为 Date 对象
        const sunriseUTC = new Date(data.results.sunrise);
        const sunsetUTC = new Date(data.results.sunset);

        // 将 UTC 时间转换为本地时间
        const sunriseLocal = new Date(sunriseUTC.getTime() - (sunriseUTC.getTimezoneOffset() * 60000));
        const sunsetLocal = new Date(sunsetUTC.getTime() - (sunsetUTC.getTimezoneOffset() * 60000));

        // 获取当前时间的本地时间
        const currentTime = new Date();

        console.log("Sunrise at:", sunriseLocal);
        console.log("Sunset at:", sunsetLocal);

        // 比较本地时间
        if (currentTime >= sunsetLocal || currentTime <= sunriseLocal) {
          enableDarkMode();
        } else {
          disableDarkMode();
        }
      })
      .catch(error => console.error('Error fetching sunrise/sunset times:', error));
  }

  function enableDarkMode() {
    document.documentElement.classList.add('dark');
  }

  function disableDarkMode() {
    document.documentElement.classList.remove('dark');
  }
